<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <div class="media-body">
        <% if can? :manage, :all %>
          <h2 class="media-heading">All Users</h2><br />
            <p>This page shows admin users all employees who are registered in the system.</p>
        <% else %>
          <h2 class="media-heading"><%= current_user.name %>'s Profile</h2><br />
        <% end %>

        <% if can? :manage, :all %>
          <%#= link_to "Create Request", new_request_path, class: 'btn btn-success' %><br />

          <table class="table table-bordered table-striped ">
            <div class="display-all-users">
              <% @users.each do |user| %>
                <% unless user.is_admin? %>
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Employee ID</th>
                      <th scope="col">Requests</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= user.name %></td>
                      <td><%= user.employee_id %></td>
                      <td><%= link_to "View Requests", user_requests_path(user.id),  class: 'btn btn-primary' %></td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            </div>
          </table>
          <% else %>
            <table class="table table-bordered table-striped ">
              <div class="display-user-profile">
                <tbody>
                  <tr>
                    <th>Name:</th><td><%= current_user.name %></td><br />
                  </tr>
                  <tr>
                    <th>Employee ID:</th><td><%= current_user.employee_id %></td>
                  </tr>
                  <tr>
                    <th>Email:</th><td><%= current_user.email %></td>
                  </tr>
                  <tr>
                    <th>Employee Status:</th><td><%= current_user.employee_status %></td>
                  </tr>
                  <tr>
                    <th>School Attending:</th><td><%= current_user.school_attending %></td>
                  </tr>
                  <tr>
                    <th>Degree Type:</th><td><%= current_user.degree_type %></td>
                  </tr>
                  <tr>
                    <th>Degree Program:</th><td><%= current_user.degree_program %></td>
                  </tr>
                  <tr>
                    <th>Annual Allowance:</th><td><%= number_to_currency(current_user.allowance) %></td>
                  </tr>
                  <tr>
                    <th>Supervisor:</th><td><%= current_user.supervisor %></td>
                  </tr>
                </tbody>
              </div>
            </table>
          <% end %>
          <br />

          <% unless can? :manage, :all %>
            <h2><%= current_user.name %>'s Requests</h2>
            <p>Click on this link to view your request history.</p>
            <%= link_to "View Requests", user_requests_path(current_user.id),  class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
