<!--This page would be used by users to submit an initial request, which will then be reviewed/completed by an admin.-->
<h2>New Request</h2>

 <div class="row">
   <div class="col-md-8">
     <p>Complete a new reimbursement request for <%= current_user.name %>.</p><br />

     <%= form_for @request, :url => user_requests_path(current_user) do |f| %>

       <% if @request.errors.any? %>
         <div class="alert alert-danger">
           <h4><%= pluralize(@request.errors.count, "error") %>.</h4>
           <ul>
             <% @request.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
       <% end %>

       <div class="form-group row">
         <label class="col-sm-2 col-form-label">User ID</label>
         <div class="col-sm-10">
           <p class="form-control-static"><%= current_user.id %> </p>
         </div>
         <%#= f.label :user_id, "User ID" %>
         <%#= f.number_field :user_id, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.label :amount_requested %>
         <%= f.number_field :amount_requested, autofocus: true, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.label :amount_paid %>
         <%= f.number_field :amount_paid, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.label :date_processed %>
         <%= f.date_field :date_processed, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.label :processing_status %>
         <%= f.text_field :processing_status, class: 'form-control', placeholder: "Processed, In Progress, Incomplete" %>
       </div>
       <div class="form-group">
         <%= f.label :notes %>
         <%= f.text_field :notes, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.label :request_approved %>
         <%= f.check_box :request_approved, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.label :documents_submitted %>
         <%= f.check_box :documents_submitted, class: 'form-control' %>
       </div>
       <div class="form-group">
         <%= f.submit "Submit Request", class: 'btn btn-success' %>
       </div>

         <%#= f.text_field :user_name, label: "User Name" %>
         <%#= f.number_field :employee_id, label: "Employee ID" %>
        <br />
       <%# end %>
     <% end %>
   </div>
 </div>
