<!--This is the individual request view page.-->
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <div class="media-body">
        <h2 class="media-heading">Request Details</h2><br />
        <% if can? :manage, :all %>
          <%= link_to "Edit Request", edit_user_request_path(@request.user, @request), class: 'btn btn-warning' %>
          <%= link_to "Delete Request", user_request_path(@request.user, @request), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this request?'} %>
        <% end %>
        <table class="table table-bordered table-striped ">
          <tbody>
            <tr>
              <div class="display-current-user-requests">
                <tr>
                  <th>User ID</th><td><%= @request.user_id %></td><br />
                </tr>
                <tr>
                  <th>Request Number</th><td><%= @request.id %></td><br />
                </tr>
                <tr>
                  <th>Amount Requested</th><td><%= number_to_currency(@request.amount_requested) %></td><br />
                </tr>
                <tr>
                  <th>Amount Paid</th><td><%= number_to_currency(@request.amount_paid) %></td><br />
                </tr>
                <tr>
                  <th>Date Processed</th><td><%= @request.date_processed %></td><br />
                </tr>
                <tr>
                  <th>Notes</th><td><%= @request.notes %></td><br />
                </tr>
                <tr>
                  <th>Documents Submitted</th>
                    <td><% if @request.documents_submitted === true %>
                      <%= "Yes"%>
                    <% else %>
                      <%= "No" %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Processing Status</th><td><%= @request.processing_status %></td><br />
                </tr>
                <tr>
                  <th>Request Approved</th>
                  <td><% if @request.request_approved === true %>
                    <%= "Yes"%>
                  <% else %>
                    <%= "No" %>
                  <% end %>
                </tr><br />
              </div>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </div>
</div>
