<!DOCTYPE html>
<html>
  <head>
    <title>Tuition Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <% if user_signed_in? %>
          <li><%= link_to "Tuition Buddy", authenticated_root_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
          <% if can? :manage, :all %>
            <li><%= link_to "Users", user_path(current_user.id), method: :get %></li>
          <% else %>
            <li><%= link_to "Profile", user_path(current_user.id), method: :get %></li>
          <% end %>
          <li><%= link_to "Requests", user_requests_path(current_user.id), method: :get %></li>
        <% else %>
          <li><%= link_to "Tuition Buddy", unauthenticated_root_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
        <% end %>

        <div class="pull-right user-info">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.name %></strong> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> <!--should not route to log in page-->
          <% end %>
        </div>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
